html {
    scroll-behavior: smooth;
}

body {
    margin: 0%;
    background-color: #e6e5e5;
}

.header {
    background-image: url(static/photo.jpg);
    background-size: 100%;
    background-attachment: scroll;
    background-repeat: no-repeat;
    margin-bottom: 20px;
}


.button-up {
    position: fixed;
    bottom: 28px;
    right: 28px;
    z-index: 9;
}

.button-up a {
    height: 42px;
    width: 42px;
    font-size: 30px;
    text-align: center;
    text-decoration: none;
    background: #15141494;
    color: #2b2a2a;
    display: block;
    border-radius: 2px;
}

h2 {
    font-family: monospace;
    font-size: 45px;
    font-weight: lighter;
    color: #746262;
    text-align: center;
    position: relative;
    padding: 5%;
    margin-top: 0%;
    margin-bottom: 0%;
}

.container-buttons {
    display: flex;
    justify-content: space-around;
    margin-top: 15px;
}

.container-buttons a.buttons {
    font-size: 15px;
    width: 5.5cm;
    padding: 5px 0;
    margin-right: 5px;
}

.buttons {
    color: rgb(134, 87, 81);
    background-color: rgb(196, 179, 174);
    font-family: monospace;
    border: 0;
    border-radius: 5%;
    margin: 0 auto;
    align-self: center;
    display: block;
    text-align: center;
    text-decoration: none;
}

.about-course {
    color: #ffffff;
    font-size: 20px;
    font-family: monospace;
    text-shadow: 1px 1px 5px #2b2222;
    margin-top: 0%;
    padding-top: 5%;
    padding-left: 5%;
    padding-right: 5%;
    background-color: #7c4646a8;
    position: relative;
    margin-bottom: 0%;
    padding-bottom: 2%;
}

.about-course a.buttons {
    font-size: 30px;
    margin-top: 0;
    width: 7cm;
    padding: 10px 0;
    text-decoration: none;
    background-color: rgb(241, 235, 233);
}

.title {
    font-family: monospace;
    font-size: 40px;
    color: #2b2a2a;
    text-align: left;
    padding: 2%;
    padding-top: 0%;
    margin-bottom: 0;
}

.title .tarif {
    color: #acabab;
    background-color: #3b3b3b;
    font-size: 30px;
    font-family: monospace;
    font-weight: 100;
    margin: 3%;
    padding-left: 2%;
    height: 398px;
    width: 90% auto;
    position: relative;
}
.tarif img { height: 100%;}

.title .tarif .buttons { display: inline;}

.title .tarif .course-descriptions {
    padding-top: 3%;
    font-size: 20px;
    width: 50%;
}

.title .tarif .additional-info {
    padding-top: 4%;
    font-size: 15px;
    width: 70%;
}

.title .tarif .price {
    color: #914e4e;
    font-size: 30px;
    font-family: monospace;
    padding-top: 5%;
    position: absolute;
    bottom: 0;
}

.title .tarif a.buttons {
    font-size: 30px;
    padding-left: 15%;
    padding-right: 15%;
    margin-left: 10px;
    position: absolute;
    bottom: 0;
}

.subtitle {
    color: #a5a5a5;
    font-size: 20px;
    font-family: monospace;
    background-color: transparent;
    padding-left: 2%;
    margin-top: 10px;
    margin-bottom: 3%;
}

.course-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.course-part {
    font-family: monospace;
    width: 40%;
    height: 250px;
    border: 1px solid rgb(136, 74, 74);
    margin: 10px 0;
    background-color: #3b3b3b;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 2%;
}

.course-part .course-part-title {
    color: #897baa;
    font-size: 30px;
    padding: 10px 0 15px 5px;
    font-weight: bold;
    flex: .2 1 auto;
}

.course-part .course-part-content {
    color: #acabab;
    font-size: 20px;
    padding: 0 0 10px 5px;
    margin-top: 10px;
}

.course-part .course-part-content:before {
    content: "• ";
}

.title p {
    color: #7a664a;
    font-size: 24.5px;
    font-family: monospace;
    text-align: justify;
    line-height: 1.5;
    font-weight: lighter;
    margin-left: 3%;
    margin-right: 3%;
    height: 398px;
    width: 90% auto;
}
.title img {
    height: 100%;
    margin-left: 2%;
}

.registration {
    color: #acabab;
    background-color: #3b3b3b;
    font-size: 20px;
    font-family: monospace;
    margin: 3%;
    padding: 3%;
    width: 1150px;
}

.first_part_of_registration {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.information_block {
    width: 40%;
}

.course-type {
    padding-left: 5%;
}

.course-type--block {
    display: flex;
    align-items: center;
    margin-top: 2%;
}

.course-type--block input {
    margin: 0 15px 0 5px;
}

input.input_text {
    margin-top: 2%;
    margin-bottom: 5%;
    height: 1cm;
    width: 12cm;
}

input.input_question {
    height: 3cm;
    width: 27cm;
    margin-top: 2%;
    margin-left: 5%;
}

.registration button {
    text-decoration: none;
    font-size: 20px;
    width: 8cm;
    height: 1.5cm;
    color: rgb(37, 48, 45);
    background-color: rgb(175, 194, 202);
    font-family: monospace;
    border: 0;
    margin-top: 15px;
    align-self: center;
    display: block;
    text-align: center;
}

.holder {
    background-color: #897baa;
    width: 88%;
    margin-top: 3%;
    padding-left: 2%;
    padding-right: 2%;
}

.limited {
    max-height: 26px;
    overflow: hidden;
    position: relative;
}

[data-more-checker^="read-more"]:checked~.limited {
    max-height: none;
}

.limited .bottom {
    position: absolute;
    bottom: 0;
    width: 100%;
    transition: .3s;
}

[data-more-checker^="read-more"] {
    opacity: 0;
    position: absolute;
}

.read-more-button {
    font-family: monospace;
    font-size: 10px;
    cursor: pointer;
    display: inline-block;
    padding: 10px;
    color: #0b0b0cad;
    border: 0;
    border-radius: 4px;
}

[data-more-checker^="read-more"]~.read-more-button:before {
    content: 'View answer';
}

[data-more-checker^="read-more"]:checked~.read-more-button:before {
    content: 'Hide answer';
}

.question {
    font-family: monospace;
    font-size: 20px;
    color: #2b2222;
}

.ansver {
    font-family: monospace;
    font-size: 15px;
    color: #1f1515;
}

.secons_frame_for_question input {
    height: 200px;
    width: 1175px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.secons_frame_for_question button {
    text-decoration: none;
    font-size: 15px;
    width: 5.5cm;
    color: rgb(121, 120, 118);
    background-color: rgb(196, 212, 203);
    font-family: monospace;
    border: 0;
    margin-top: 5px;
    align-self: center;
    display: block;
    text-align: center;
}